@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", serif;
    background-color: #f5f5f5;
}

.container {
    background-color: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #666;
}

#add {
    background-color: #fbbf24;
    color: white;
    border: none;
    width: 100%;

    padding: 5px 0px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

#add:hover {
    background-color: #fbac24;
}

.clean {
    width: 50%;
    background-color: #ff4444;
    border: none;
    padding: 5px 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer
}

.clean-buy {
    width: 50%;
    background-color: #fbac24;
    border: none;
    padding: 5px 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}


.actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

#item {
    width: 70%;
}

#quantidade {
    width: 30%;
}

.inputGroup {
    display: flex; /* coloca um item do lado do outro*/
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border-color: #fbbf24;
}

li {
    display: flex;
}


li button {
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

li p {
    margin-left: 5px;
}

@media (max-width: 800px) {  
    body{
        background-color: red; /*quando o tamanho da tela for menor que 800 altera a cor para RED*/
    }        
    #item{
        width: 95%;
    }

    #quantidade{
        width: 95%;
    }

    .inputGroup{
        flex-direction: column; /*quando o tamanho da tela for menor que 800 o campo QTDE vai para baixo do campo ITEM*/
    }

}

























/* li {
    list-style: none;
    margin: 20px 0px;
    display: flex;
}

li button {
    margin-left: auto;
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
}

li p {
    margin-left: 5px;
} */